@model HRApplicationTool.Models.ToolConfiguration
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit Config</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Start Time and And Time</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.StartHour, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.StartHour)
                @Html.ValidationMessageFor(model => model.StartHour)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StartMin, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.StartMin)
                @Html.ValidationMessageFor(model => model.StartMin)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EndHour, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EndHour)
                @Html.ValidationMessageFor(model => model.EndHour)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EndMin, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EndMin)
                @Html.ValidationMessageFor(model => model.EndMin)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to Configuration", "Edit")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
